{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main_head %} Welcome, {{ email }} {% endblock %}

{% block navbar %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Sign out</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('info') }}">Check Info</a></li>
                <li><a class="dropdown-item" href="{{ url_for('productListing') }}">View Products</a></li>
                    {% if seller %}
                <li><a class="dropdown-item" href="#">Sell Products</a></li>
                    {% endif %}
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
{% if post %}
    <h1>You have succesfully placed your order. Your Transaction ID is {{ transaction_id }}</h1>
    <a href="{{ url_for('reviewProduct', product_id=product_id) }}"><button>Review the product</button></a>
    <a href="{{ url_for('rateSeller', username=seller_email) }}"><button>Rate the seller</button></a>
{% else %}
    {% if inStock %}
        <form action="/buy/{{ product_id }}" method="POST">
            <div>
            <label for="cc">Credit Card Number</label>
            <input type="text" name="cc">
            </div>
            <button type="submit">Buy</button>
        </form>
    {% else %}
    <h1>This product is out of stock.</h1>
    {% endif %}
{% endif %}

{% endblock %}